* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.place-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}
.place-img {
  width: 200px;
}
.place-name {
  font-family: 'roboto';
  font-size: 12px;
}
